<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>良仓</title>
		<link rel="stylesheet" type="text/css" href="aa.css" />
		<link rel="stylesheet" type="text/css" href="sosuo.css"/>
	</head>
	<body>
		<header>
		<div class="headerTOP">
			<div id="header">
             <a href="#"></a>
            <ul>
           <li class="images">
           	      <a href="" id="login"></a> 
					<div class="tou">
           	           <a href="" class="ge"><span >个人设置</span></a>
           	            <a href="" class="ge"><span >收货信息</span></a>
           	            <a  href="" class="ge"><span class="my">我的订单</span></a>
           	            <a class="chu" href="javascript:;"><span class="my">退出</span></a>
           	          </div>

           	    </li>  
           	  <li class="ima">
           	  <a href="login.html" class="dl" >登录</a>
           	 <a href="zhuce1.html" class="dl" >注册</a>
           	  
           	 </li>   
           	 <li class="link"></li>
           	 <li class="hearerfirst" id="shopp">
           	 	<a href="#" >购物车</a>
           	     <ul class="ss">
           	        <!--<li class="shopping"><a href="#">您的购物车暂时还没有商品...</a></li>-->
           	        <li id="ban">
           	        	<script type="text/templete" id="templete1">
				     	  <div id="mo">
				     	  	<a href="" class="pro"><img src="<%= goods_thumb %>" class="pian"/> </a>
				     	  	<a class="wen" href="#" ><%= goods_name %></a>
				     	  	<a class="xian" href="">一只</a>
				     	  	<a  href="" class="money">数量: 一件</a>
				     	  	<a href=""  class="numer">￥<%= goods_price %></a>				     	  	
				     	  </div>
				     	</script>
           	        </li>
           	        <li class="qiang"><a href="#">快去抢购良仓商品吧！</a></li>
           	      </ul>
           	   </li>
            <li class="link"></li>
           	    <li class="hearerfirst" id="message"><a href="#">消息</a>
           	        <ul class="bb">
           	        <li><div><a href="#">动态 </a><span>0</span></div></li>
           	        <li><div><a href="#">评论</a><span>0</span></div></li>
           	        <li><div><a href="#">私信</a><span>0</span></div></li>
           	        <li><div><a href="#">粉丝</a><span>0</span></div></li>
           	        <li><div><a href="#">喜欢</a><span>0</span></div></li>
           	        <li><div><a href="#">通知</a><span>0</span></div></li>
           	      </ul>
           	     </li>
           	<li class="link"></li>
           	    <li class="hearerfirst"><a href="#">添加良品</a></li>
           </ul>
		</div>
		</div>
		<nav>
		<ul id="nav">
			<li class=""><a hhref="#">首页</a></li>
			<li class="style">
				<a href="#">商店</a>
				<div class="shopBig">
					<div class="shopRight">
					    <ul>
				            <li><img src="img/img/23687.png"><span>家居</span></li>
							<li><img src="img/img/23685.png"/><span>家具</span></li>
							<li><img src="img/img/23686.png"/><span>文具</span></li>
							<li><img src="img/img/23683.png"/><span>数码</span></li>
							<li><img src="img/img/23682.png"/><span>玩乐</span></li>
							<li><img src="img/img/23684.png"/><span>厨卫</span></li>
							<li><img src="img/img/23680.png"/><span>美食</span></li>
							<li><img src="img/img/23679.png"/><span>男装</span></li>
							<li><img src="img/img/23678.png"/><span>女装</span></li>
							<li><img src="img/img/23677.png"/><span>童装</span></li>
							<li><img src="img/img/23676.png"/><span>鞋包</span></li>
							<li><img src="img/img/23675.png"/><span>配饰</span></li>
							<li><img src="img/img/23681.png"/><span>美护</span></li>
							<li><img src="img/img/23674.png"/><span>户外</span></li>
							<li><img src="img/img/23669.png"/><span>植物</span></li>
							<li><img src="img/img/23668.png"/><span>图书</span></li>
							<li><img src="img/img/23672.png"/><span>艺术</span></li>
							<li><img src="img/img/23669.png"/><span>礼物</span></li>
							<li><img src="img/img/23670.png"/><span>推荐</span></li>
					    </ul>
					  </div>
					    <div class="huo">
				      	   <a href="">查看所有商品></a>
				      	     <span></span>
				      	       <a href="">最新到货></a>
			        	</div>
			   		
			   		<div class="shopLeft">
			    		<img src="img/img/315574.jpg" />
			    		<p>新视野：2015年7月刊</p>
			    	</div>
				</div>	
			</li>
			<li class=""><a hhref="#">杂志</a></li>
			<li class=""><a hhref="#">分享</a></li>
			<li class=""><a hhref="#">达人</a></li>
		</ul>
		<div id="aa">
			<a href="javascript:;"></a>
			<input class="text" name="text" placeholder="search..." />
		</div>
	</nav>
	</header>
	
	<div id="banner">
		<div class="box">
			<ul class="banner">
				 <li><img src="img/img/1001.jpg"></li>
				 <li><img src="img/img/1005.jpg"></li>
				 <li><img src="img/img/1006.jpg"></li>
				 <li><img src="img/img/1009.jpg"></li>
				 <li><img src="img/img/1010.jpg"></li>
				 <li><img src="img/img/1008.jpg"></li>
				 <li><img src="img/img/1011.jpg"></li>
				 <li><img src="img/img/1012.jpg"></li>
			</ul>
			<ul class="an">
				<li class="change"></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		    <ul class="anniu">
				<li class="left"><img src="img/img/normal_right.png"/></li>
				<li class="right"><img src="img/img/normal_left.png"/></li>
		    </ul>
		</div>
	</div>
	   <ul class="pp">
	   	    <li class="pp1"><a href=""><img src="img/img/27176.jpg"/></a></li>
			<li class="pp2"><a href=""><img src="img/img/27178.jpg"/></a></li>
			<li class="pp3"><a href=""><img src="img/img/27177.jpg"/></a></li>
			<li class="pp4"><a href=""><img src="img/img/27175.jpg"/></a></li>
			<li class="pp5"><a href=""><img src="img/img/27174.jpg"/></a></li>
	   </ul>
       <div>
	      <div class="liang">
	      人气良品
	      </div>
	    </div>
	     <script src="underscore.js"></script>
	     <script type="text/templete" id="templete">
	       	 <div class="goods_list">
	       	 	<div class="zhe">
	       	 		<a class="qian" href="javascript:;"> ￥<%= price %> </a>
	       	 		<a class="nei" href="javascript:;"> <%= goods_desc %> </a>
	       	 	</div>
	       	 	<div class="goods_img">
	       	 	  <img src="<%= goods_thumb %>"/>

	       	 	</div>
	       	 	 <p>
	       	 	   <a href="javascript:;" class="goods_name">
	       	 	   <%= goods_name %></a>
	       	 	   <a href="javascript:;" class="zan">
	       	 	    <%= goods_number %></a>
	       	 	 </p>
	       	 </div>
	       </script>
	      <div id="goods">
	      </div>
	     <a href="javascript:;" id="more"></a>
	     <a href="javascript:;" class="ding"></a>
           <div id="search">
           	  <a href="">
           	  	<p class="xx"> </p>
           	  </a>
           	  <ul>
           	  	<li><span class="db"></span><p>全球精品</p><i>Global Selections</i></li>
           	  	<li><span class="db1"></span><p>正品保证</p><i>Authenticity Guaranteed</i></li>
           	  	<li ><span class="db2"></span><p>全场包邮</p><i>Free Delivery</i></li>
           	  	<li><span class="db3"></span><p>400-897-6336</p><i>工作日 09:00-18:00</i></li>
           	  </ul>
           </div>
         <div id="foot">
           <div class="footer">
            <div class="footerleft">
            	<a href="">
            		<p>iPhone Android<br>客户端下载</p>
            		<ul class="xia">
	            		<li class="xia1"><h6>下载iPhone版</h6></li>
	            		<li class="xia2"><h6>下载Android版</h6></li>
            		</ul>  
            	</a>
            	<ul class="foot_header">
            	  <li><a href="">关于良仓</a></li>
            	  <li><a href="">服务协议</a></li>
            	  <li><a href="">隐私保护政策</a></li>
            	  <li><a href="">使用指南</a></li>
            	  <li><a href="">联系我们</a></li>
            	  <li><a href="">加入我们</a></li>
                  <li><a href="">友情链接</a></li>
                  <li><a href="" style="border:0">私信良仓</a></li>
            	</ul>
            	<pre>
  &nbsp;© 2013-2015 北京良仓文化传播有限公司版权所有 京ICP备13010677号-1 京公网安备11010502025627
  &nbsp;&nbsp;公司名称：北京良仓文化传播有限公司  电话：010-58263516
  &nbsp;&nbsp;公司地址：北京朝阳区百子湾路32号6号楼1层60号.
  &nbsp;&nbsp;社会信用统一代码：91110105059231575L  食品许可证：JY11105160159557  
  &nbsp;&nbsp;图书证名称：中华人民共和国出版物经营许可证  图书证编号：新出发京零 字第 朝 150051 号  
            	</pre>
            </div>
            <div class="footerright">
            	<ul>
            		<li class="yy">
            		  <p class="yy1"></p>
            		  <span class="oo"></span>
            		</li>
            		<li class="y1"></li>
            		<li class="y2"></li>
            	</ul>
            </div>
         </div>
        </div>
	<script src="jquery.js"></script>
	<script src="bb.js"></script>
	<script src="banner.js"></script>
    <script src="pubuliu.js"></script>
    <script>
    	var aa=decodeURI(document.URL);
		var bb=aa.split('=');
		var goods_id=bb[1];
	var tem=$("#templete1").html();
	var strr=_.template(tem);
	$.ajax({
		type:"get",
		url:"http://lc.shudong.wang/api_cart.php",
		async:false,
		data:{},
	   dataType:"json",
	   beforeSend: function(request) {
			request.setRequestHeader("token",localStorage.token);
		},
	   success:function(data){
	   	  var obj=data.data;
	   	  var ff="";
	   	  $.each(obj,function(index,value){
	   	  	 ff+=strr(value);
	   	  })
	   	  $("#ban").append(ff); 	  	  
	   }
	});

    </script>
	</body>
	
</html>